
header{
    
}

#LogoContainer{
    float:left;
    padding-bottom:30px;
    margin-left:20px;
    margin-top:10px;
}

#Menu{
    position:absolute;
    right:0px;
    top:0px;
   
}

#Menu a:hover{
    color: #0065fc;
    border-width:4px;
    border-color:#0065fc;
    border-style:solid;
    padding-top:13px;
    border-right:none;
    border-bottom:none;
    border-left:none;
}

#Menu ul{
    display: flex;
}

#Menu li{
    margin-right:40px;
}

#Sinscrire{
    color:#0065fc;
    font-weight: bold;
}





body{
    font-family:'Raleway',sans-serif;
    color:#303030;
}

a:link { 
    text-decoration:none; 
    color:#303030;
} 

a:visited{
    color:#303030;
}

ul{
    list-style-type:none;
}

h2{
    font-weight:bold;
    font-size:1em;
}

h3{
    font-size:1em;
    font-weight:bold;;
}

p{
    font-size:0.8em;
    color:#404040;
}


#Main{
    width: 100vw; 
    height: 95.25vw; /* 100/56.25 = 1.778 mais je veux que ca reste collé en haut*/
    background:transparent;
    max-height: 100vh;
    max-width: 177.78vh; /* 16/9 = 1.778 */
    margin: auto;
    position: absolute;
    top:0;bottom:0; /*vertical center */
    left:0;right:0; /* horizontal center */
}


#container01{
    clear:both;
    margin-left:20px;
}

#Recherche{

}

#SearchButton i{
    float:left;
    background-color:#f2f2f2;
    padding-top:10px;
    padding-right:10px;
    padding-bottom:10px;
    padding-left:10px;
    border-radius:1.5vmin 0vmin 0vmin 1.5vmin;
}

#button{
    float:left;
    background-color: #0065fc;
    color:#ffffff;
    width:100px;
    height:33px;
    border-radius:0vmin 1.5vmin 1.5vmin 0vmin;
    border:none;
    vertical-align: middle;/* à corriger plus tard*/
}

#SearchButton h6{
    font-size:0.4em;
    text-align: center; /* à corriger plus tard*/

}

#SearchButton input{
    float:left;
    padding-top:10px;
    padding-right:10px;
    padding-bottom:5px;
    padding-left:10px;
    border-color:#f2f2f2; /* à corriger plus tard*/
    border-width:0.5px; /* à corriger plus tard*/
    font-weight:bold;
  
}

#SearchButton{
    margin-bottom:20px;
}

#Filtres{
    padding-top:15px;
    clear:both;
}

#Filtres i{
    color:#0065fc;
    border-radius: 50%;/* à corriger plus tard si besoin*/
    border-width:10px;/* à corriger plus tard si besoin*/
    background:#deebff;
    width: 28px;
    height: 20px;
    padding-top:8px; /*à améliorer*/
    margin-left:10px;
    text-align: center;
    position:relative;
}

#Filtres input:hover{
    background:#deebff;
}

#Filtres input{
    
    background-color:#ffffff;
    width:150px;
    height:30px;
    border-radius:0vmin 3vmin 3vmin 0vmin;
    border:solid;
    border-width:0.5px;
    border-color:#f2f2f2;
    text-align: center;
    font-weight: bold;
    margin-left:-15px;
    padding-left:20px;

}

#Info{
    font-size:0.8em;
    color:#404040;
}
#Info i{
    border-radius: 50%;/* à corriger plus tard*/
    border-width:10px;/* à corriger plus tard*/
    border-color:#a01c1c;/* à corriger plus tard*/
    width: 10px;
    height: 10px;
    color:#0065fc;
}





#container02{
    margin-left:20px;
}

#ResultatsDeRecherche{
    float:left;
    background-color:#f2f2f2;
    border-radius:2vmin 2vmin 2vmin 2vmin; /* pour rogner les bords*/
    max-width:65%;
    height:420px;
    margin-right:20px;
    overflow: hidden;
}

#Title_resultat{
    padding-top:10px;
    margin-left:25px;
    margin-bottom:-2px;
}

#orga_resultats_recherche{
    display:flex; /* cf images même taille*/
    flex-wrap: wrap;
    overflow: hidden;
    padding-bottom:30px;
    
}

.Resultats{
    background-color:#ffffff;
    border-radius:1vmin 1vmin 1vmin 1vmin; /* pour rogner les bords*/
    width:25%;
    height:15%;
    margin-left:30px;
    margin-top:20px;
    box-shadow: 1px 0.5px 5px rgb(156, 156, 156);
    
}

.imgs_resultats_recherche{
    border-radius:1.5vmin 1.5vmin 0vmin 0vmin; /* pour rogner les bords*/
    max-width:100%;
    height:80px; 
    padding-top:2px;
    padding-left:2px;
    padding-right:2px;
    overflow: hidden;
}

#imgs01_resultat_recherche{
    width:100%;
    height:100%;
    object-fit: cover;
}
   
#imgs02_resultat_recherche{
    width:100%;
    height:100%;
    object-fit: cover;
}

#imgs03_resultat_recherche{
    width:100%;
    height:100%;
    object-fit: cover;
}

#imgs04_resultat_recherche{
    width:100%;
    height:100%;
    object-fit: cover;
}

#imgs05_resultat_recherche{
    width:100%;
    height:100%;
    object-fit: cover;
}

#imgs06_resultat_recherche{
    width:100%;
    height:100%;
    object-fit: cover;
}


.titre_vignette_resultats_recherche{
    font-size:0.7em;
    margin-top:-10px;
    margin-left:7px;
}

.text_resultats_recherche{
    font-size:0.6em;
    margin-top:-12px;
    margin-left:7px;
}

.rating_recherche{
    font-size:0.5em;
    margin-top:-4px;
    margin-bottom:4px;
    margin-left:7px;
}

#ResultatsDeRecherche i{
    color:#0065fc;
}

#gris01{
    color:#f2f2f2; /* à retravailler*/
}

#afficherPlus{
    clear:both;
    margin-left:25px;
    font-weight:bold;
}





#PlusPopulaires{
    background-color:#f2f2f2;
    border-radius:2vmin 2vmin 2vmin 2vmin; /* pour rogner les bords*/
    max-width:30%;
    height:420px;
    overflow: hidden;
}

#populaire_titre_icon{
    display:flex; /* cf images même taille*/
    width:230px;
    height:50px;
    margin-left:25px;
    margin-top:10px;
}

#PlusPopulaires i{
    color:#0065fc;
}

#titre_PlusPopulaires{
    
}

#icon_stat{
    margin-left:60px;
    padding-top:5px;
    color:#404040; /*a retravailler car couleur pas affichee*/
}

#orga_resultats_populaires{
    max-width:100%;
    height:350px;
    display:flex;
    flex-direction:column;
    overflow: hidden;
}

.Resultats_Populaires01{
    background-color:#ffffff;
    border-radius:1vmin 1vmin 1vmin 1vmin; /* pour rogner les bords*/
    box-shadow: 1px 0.5px 5px rgb(156, 156, 156);
    max-width:80%;
    height:90px;
    margin-left:25px;
    margin-bottom:20px;
    margin-top:5px;
    padding-left:2px;
    padding-top:2px;
    padding-bottom:2px;
    display:flex;
    overflow: hidden;
}

.Resultats_Populaires02{
    background-color:#ffffff;
    border-radius:1vmin 1vmin 1vmin 1vmin; /* pour rogner les bords*/
    box-shadow: 1px 0.5px 5px rgb(156, 156, 156);
    max-width:80%;
    height:90px;
    margin-left:25px;
    margin-bottom:20px;
    margin-top:5px;
    padding-left:2px;
    padding-top:2px;
    padding-bottom:2px;
    display:flex;
    overflow: hidden;
}

.Resultats_Populaires03{
    background-color:#ffffff;
    border-radius:1vmin 1vmin 1vmin 1vmin; /* pour rogner les bords*/
    box-shadow: 1px 0.5px 5px rgb(156, 156, 156);
    max-width:80%;
    height:90px;
    margin-left:25px;
    margin-top:5px;
    padding-left:2px;
    padding-top:2px;
    padding-bottom:2px;
    display:flex;
    overflow: hidden;
}

/*
.imgs_resultats_populaires02{
    background-size:100% 100%;
    position:relative;
    padding-top:2px;
    padding-left:2px;
    padding-bottom:2px;
    max-width:35%;
    height:100px;
   /* object-fit: cover;
    float:left;
    overflow: hidden;
}
*/

.imgs_resultats_populaires01{
    border-radius:1vmin 0vmin 0vmin 1vmin; /* pour rogner les bords*/
    max-width:100%;
    height:100px;
    object-fit: cover;
    overflow: hidden;
}

.groupe-text_populaire01{
    max-width:90%;
    height:110px;
    margin-right:50px;
    padding-left:15px;
    overflow: hidden;
}

#imgs01_resultat_populaire{
    border-radius:0.5vmin 0vmin 0vmin 0.5vmin; /* pour rogner les bords*/
    max-width:100%;
    height:90px;
    object-fit: cover;
}

.imgs_resultats_populaires02{
    border-radius:1vmin 0vmin 0vmin 1vmin; /* pour rogner les bords*/
    max-width:100%;
    height:100px;
    object-fit: cover;
    overflow: hidden;
}

.groupe-text_populaire02{
    max-width:90%;
    height:110px;
    margin-right:50px;
    padding-left:15px;
    overflow: hidden;
}

#imgs02_resultat_populaire{
    border-radius:0.5vmin 0vmin 0vmin 0.5vmin; /* pour rogner les bords*/
    max-width:100%;
    height:90px;
    object-fit: cover;
}

.imgs_resultats_populaires03{
    border-radius:1vmin 0vmin 0vmin 1vmin; /* pour rogner les bords*/
    max-width:100%;
    height:100px;
    object-fit: cover;
    overflow: hidden;
}

.groupe-text_populaire03{
    max-width:90%;
    height:86px;
    margin-right:50px;
    padding-left:15px;
    overflow: hidden;
    
}

#imgs03_resultat_populaire{
    border-radius:1vmin 0vmin 0vmin 1vmin; /* pour rogner les bords*/
    max-width:100%;
    height:90px;
    object-fit: cover;
}

.titre_vignette_resultats_populaires{
    font-size:0.7em;
    margin-top:-10px;

}

.text_resultats_populaires{
    font-size:0.6em;
    margin-bottom:25px;
    margin-top:-10px;

}

.rating_populaires{
    font-size:0.5em;
    margin-top:-5px;

}





#container03{
    margin-left:20px;
}

#Activites{

}

#Titre_activites{
    margin-top:40px;
    margin-bottom:-15px;
}

#Groupe_activites{
    display:flex; /* cf images même taille*/
    flex-wrap: wrap;
    justify-content: space-around;
    float:left;
    margin-left:-25px;
    /*align-items: center;*/
    /*text-align: center;*/
}

.grp_activites01{
    display:flex; /* cf images même taille*/
    flex-wrap: wrap;
    overflow: hidden;
    float:left;
    max-width:55%;
    height:400px;
}

.grp_activites02{
    display:flex; /* cf images même taille*/
    flex-wrap: wrap;
    overflow: hidden;
    max-width:50%;
    height:400px;
}

.Resultats_activites01{
    background-color:#ffffff;
    border-radius:1vmin 1vmin 1vmin 1vmin; /* pour rogner les bords*/
    box-shadow: 1px 0.5px 5px rgb(156, 156, 156);
    width:200px;
    height:310px;
    margin-top:30px;
    margin-left:30px;
    margin-bottom:40px;
    margin-right:20px;
}

.Resultats_activites02{
    background-color:#ffffff;
    border-radius:1vmin 1vmin 1vmin 1vmin; /* pour rogner les bords*/
    box-shadow: 1px 0.5px 5px rgb(156, 156, 156);
    width:200px;
    height:160px;
    margin-left:10px;
}

#imgs06{
    position:absolute;
    margin-left: 260px;
    margin-top: 180px;
    margin-bottom:40px;
}

#col_02_activites{
    margin-top:30px;
}

#imgs02{
    margin-left:10px;
}

#imgs03{
    margin-top:10px;
}

.Resultats_activites03{
    background-color:#ffffff;
    border-radius:1vmin 1vmin 1vmin 1vmin; /* pour rogner les bords*/
    box-shadow: 1px 0.5px 5px rgb(156, 156, 156);
    width:200px;
    height:120px;
    margin-top:30px;
    margin-left:20px;
    margin-bottom:40px;
}

.imgs_activites01{
    border-radius:1vmin 1vmin 0vmin 0vmin; /* pour rogner les bords*/
    overflow: hidden;
    max-width:100%;
    height:270px;
}

.imgs_activites02{
    border-radius:1vmin 1vmin 0vmin 0vmin; /* pour rogner les bords*/
    overflow: hidden;
    max-width:100%;
    height:120px;
}

.imgs_activites03{
    border-radius:1vmin 1vmin 0vmin 0vmin; /* pour rogner les bords*/
    overflow: hidden;
    max-width:100%;
    height:85px;
}

#imgs01_activites{
    width:100%;
    height:100%;
    object-fit: cover;
    overflow: hidden;
}

#imgs02_activites{
    width:100%;
    height:120px;
    object-fit: cover;
    overflow: hidden;
}

#imgs03_activites{
    width:100%;
    height:100%;
    object-fit: cover;
    overflow: hidden;
}

#imgs04_activites{
    width:100%;
    height:100%;
    object-fit: cover;
    overflow: hidden;
}

#imgs05_activites{
    width:100%;
    height:100%;
    object-fit: cover;
    overflow: hidden;
}

#imgs06_activites{
    width:100%;
    height:100%;
    object-fit: cover;
    overflow: hidden;
}

.titre_activites{
    font-size:0.6em;
    font-weight:bold;
    padding-left:10px;
}





footer{
    clear:both;
    background-color:#f2f2f2;
    display:flex;
    flex-wrap: wrap;
    /*justify-content: space-around;*/
    /*align-items: center;*/
    max-width: 100%;
    height:120px;
}

#A_propos{
    float:left;
    display:flex;
    flex-direction:column;
    margin-left:-8px;
}

#titre_apropos{
    display:flex;
    flex-direction:column;
}

#Nos_hebergements{
    float:left;
    display:flex;
    flex-direction:column;
    margin-left:150px;
}

#titre_hebergement{
    display:flex;
    flex-direction:column;
}

#Assistance{
    float:left;
    display:flex;
    flex-direction:column;
    margin-left:200px;
}

#titre_assistance{
    display:flex;
    flex-direction:column;
}

.titre_footer{
    margin-left:30px;
    font-size:0.7em;
}

.text_footer{
    margin-top:-10px;
    margin-left:-10px;
    font-size:0.6em;
}
